.container{
    /* display: flex;
    flex-direction: s; */
    /* width: 45%; */
    text-align: center;
    padding:0.5rem;
    /* justify-content: end; */
}
.name{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin:0;
    color: #FFFFFF;
}
.darkName{
    color: #2B3442;
}

.quantity{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.darkQuantity{
    color: #2B3442;
}