
h4,p{
    margin:0;
    padding: 0;
}
.name{
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 0;
    color: #FFFFFF;
    margin-top:0;
}

.lightName{
    color: #2B3442;
}
.mainContainer{
    font-family: 'Space Mono';
    font-style: normal;
    display: flex;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}



.info {
    width:60%;
    height:100%;
}
.nickname{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0079FF;
}
.time{
    align-self: flex-start;
    width:40%;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #697C9A;
    white-space: normal;
    }

.bio{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4B6A9B;
    /* mix-blend-mode: normal; */
    /* opacity: 0.75; */
}

.noBio{
    color: #4B6A9B;
}