
h4,p{
    margin:0;
    padding: 0;
}
.name{
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 0;
    color: #FFFFFF;
    margin-top:0;
}

.lightName{
    color: #2B3442;
}
.mainContainer{
    font-family: 'Space Mono';
    font-style: normal;
    display: grid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.nickname{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0079FF;
}
.time{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #697C9A;
    white-space: normal;
    }

.bio{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4B6A9B;
    /* mix-blend-mode: normal; */
    /* opacity: 0.75; */
}

.noBio{
    color: #4B6A9B;
}


@media only screen and (max-width:767px){
    .mainContainer{
        flex-direction: column;
    }
    .name{
        font-size: 24px;
    }

}