.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #141D2F;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.lightApp {
  background-color: #F2F2F2;
}

.componentContainer{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  padding:1rem 0;
  border-radius: 0.5rem;
  width:55%;
  min-width: 470px;
}
.darkCompCont{
  background-color: #1E2A47;
}
.gitHubInfo{
  display: flex;
  justify-content: space-evenly;
  width:95%;
  background-color: #141D2F;
  gap:1rem;
  border-radius: 0.5rem;
}
.lightGHInfo{
  background-color: #F2F2F2;
}

.mainContent{
  width:100%;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  padding:1rem 0;
}

.imgContainer{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img{
  width:7rem;
  height: 7rem;
  padding: 0 0.5rem;
  border-radius: 50%;
}

.userBio{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  width:70%;
}

/* .titleContainer{
  width:55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 1rem; */
  /* border:1px solid white; */

/* .title{
  padding-left: 1rem;;
}

.darkLight{
  display: flex;
  align-items: center;
  gap:1rem;
  cursor: pointer;
}

.darkLightIcons{
  padding-right: 1rem;
  max-height: 1.5rem;
} */